.idea/**
.*
CMakeCache.txt
CMakeFiles/**
Makefile
cmake-build-*/**
cmake_install.cmake
deps_build/**
deps_prefix/**
*.cbp
logs/
Frameworks
crash-dumps
compile_commands.json

deployment/local/sandbox*
deployment/local/*.log
run-tests/deployed/
